.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("../../assets/mainHouse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 1;
  bottom: 90px;
  height: 425px;
}

.content {
  width: 40%;
  text-align: left;
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(159, 168, 188);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(159, 168, 188);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: rgb(159, 168, 188);
  border: 1px solid rgb(159, 168, 188);
}

.input:hover + .icon1 {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}

.input:focus + .icon1,.input:not(:placeholder-shown) + .icon1 {
  z-index: 0;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 24px;
  }

  .content {
    width: 70%;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 40%;
  }

  .search .icon {
    font-size: x-large;
    display: inline;
    color: #606060;
    margin: 0;
  }

}